*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-image: linear-gradient(white, gray);

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.form-inline {
display: flex;
justify-content: center;
align-items: center;

}
.form-inline input {
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #e4e9e3;
  border: 4px solid #010a0a;
  color:rgb(4, 25, 43);
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-size: 30px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.form-inline input:hover {
background-color: rgb(196, 212, 174);
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.js-card-container {
  display: block;
  width: auto;
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin: 0 auto;
}
.js-card-container li {
  text-align: center;
  margin: 0 auto;
  padding: 0;
 
}

ol {
  padding: 0;
}
.item {
  text-align: left;
}